:root {
  --black: #0c1017;
  --dark: #121720;
  --white: #fff;
  --light:#677388;
  --red: #f94646;
  --orange: #f89b4b;
  --blue: #1ac0fc;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin; 
  scrollbar-color: var(--black) var(--white);
  font-family: Inter, SF Pro Display, -apple-system, system-ui, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  color: var(--white);
  background-color: var(--black);
  /* background: linear-gradient(90deg, rgba(34, 34, 34, .952), rgba(0, 0, 0, .75)),
    url(https://i.ibb.co/YLDQVQm/bg.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);

  font-size: 1rem;
  scroll-behavior: smooth;
  scroll-padding-top: 94px;
  letter-spacing: .6px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

main {padding: 80px 0;}

nav,
footer {
  padding: 20px 200px;
}

section {
  padding: 80px 200px;
  min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
  width: 100%;
  margin: auto;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid var(--dark);  
  backdrop-filter: blur(16px) saturate(180%);
}

li {
  font-size: 1.2rem;
  padding: 5px;
}

nav li {
  list-style: none;
  padding: 0 15px;
  font-family: 'Consolas';
}

h1,h2,h3,h4,h5,h6 {font-family: 'Manrope', sans-serif;}

h1 {
  margin: 0.67em 0;
  font-size: 64px;
  line-height: .9;
  font-weight: 900;
  letter-spacing: 2px;
}

h2 {
  margin-top: 0;
  font-size: 54px;
}

h3 {
  margin: 0;
  font-size: 30px;
}

a {
  color: var(--light);
  display: block;
  font-weight: 500;
  text-decoration: none;
  transition: transform 0.1s linear;
}

p {
  color: var(--light);
  word-wrap: break-word;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  display: inline-block;
  padding: 15px 21px;
  border-radius: 5px;
  margin: 10px;
  font-size: 14px;
  background-color: var(--white);
  color: var(--black);
  line-height: 1;
  text-align: center;
  text-shadow: none;
  object-fit: fill;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  box-shadow: 2px 2px 7px 0 rgb(0 0 0 / 13%);
}

img {
  max-width: 100%;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.capture {
  object-fit: contain;
  max-width: -webkit-fill-available;
  border: 15px solid var(--dark);
  overflow: hidden;
}

.lead {font-size: 1.4rem;word-wrap: break-word;}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--dark);
  padding: 20px;
  transition: background-color .25s;
}

.card h3 {color: var(--white);}

.card:hover { background-color: var(--dark);}

.placeholder { min-height: 200px; width: 100%; background-color: #1d1d1b4a; backdrop-filter: blur(5px);}

.vh-100 {height: 100vh; }
.w-100 {width: 100%; }

.mx-auto {
  margin: auto;
}

.m-0 {margin: 0;}
.mt-0 {margin-top: 0;}
.mb-0 {margin-bottom: 0;}

.p-4 {padding: 40px;}

.mt-5 {margin-top: 50px;}

.mt-3 {margin-top: 30px;}
.mb-3 {margin-bottom: 30px;}

.mr-1 {margin-right: 10px;}
.ml-1 {margin-left: 10px;}

.mr-2 { margin-right: 20px; }

.pl-0 { padding-left: 0; }
.pr-0 { padding-right: 0; }
.p-0 { padding: 0; }

.p-2 { padding: 20px; }

.bg-linear {
   background: linear-gradient(180deg,#0c10178f,#1a61db11,#1e212800)
   ,url(https://i.ibb.co/XFbrfpW/rect.png); 
   background-position: top;
}

.bg-white {background-color: var(--white);color: var(--dark);}
.bg-black {background-color: var(--black);color: var(--white);}
.bg-dark {background-color: var(--dark);color: var(--white);}

.dark {color: var(--dark); }
.blue {color: var(--blue); }
.transparent {background-color: transparent; }

.text-center { text-align: center; }
.text-uppercase { text-transform: uppercase;}

.shadow-0 { box-shadow: none; }
.shadow { box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%), 0 1px 18px 0 rgb(0 0 0 / 10%), 0 3px 5px 0 rgb(0 0 0 / 14%); }

.br7 { border-radius: 7px;}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.grid-2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.grid-3 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--dark);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--black);
}

.blur {animation: blur 1s linear forwards;}

@keyframes blur {
  0% {filter: blur(25px);}
  50% {filter: blur(10px);}
  100% {filter: blur(0);}
}

.scale {animation: scale 0.25s;}

@keyframes scale {
  0% {transform: scale(0.5);}
  100% {transform: scale(1);}
}

.slideRight {animation: slideRight 1s;}

@keyframes slideRight {
  0% {opacity: 0; transform: translateX(100%);}
  100% {opacity: 1; transform: translateY(0);}
}

.slideLeft {animation: slideLeft 1s;}

@keyframes flipX {
  0% {opacity:0;transform: perspective(400px) translateZ(0) scale(.5);}
  100% {opacity:1;transform: perspective(400px) translateZ(0) scale(1);}
}

.flipX{
  opacity:0;
	animation: flipX 1s cubic-bezier(0.2, 0.3, 0.25, 0.9) forwards;
}

@keyframes slideLeft {
  0% {opacity: 0; transform: translateX(-100%);}
  100% {opacity: 1; transform: translateY(0);}
}

@media only screen and (max-width: 900px) {
  .vertical-align {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {

  main,
  nav {width: 95%;}

  section,nav {padding: 10px 15px;  }  

  h1 {font-size: 40px;}
  h2 {font-size: 30px;}
  h3 {font-size: 20px;}

  .lead {font-size: 1rem;}

  .grid-3 {grid-template-columns: repeat(2, 1fr);}
  .grid-2 {grid-template-columns: 1fr;}

  .vertical-align {
    flex-direction: column;
  }
}